*{
    margin: 0mm;
    padding: 0mm;
    box-sizing: border-box;
    /* para que no se desborde el contenido de las cajas */
    font-family: 'Lobster Two', cursive;
}
body{
    background: linear-gradient(45deg,#16c0cc,   rgb(84, 199, 199) );
    height: 100vh;
}
.Container{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    display: flex;

    justify-content: center;
    align-items: center;
    background: url('../imagenes/fondo.jpeg')
     fixed center center #4cac97d3;
    box-shadow: 0 15px 30px rgba(0,0, 0, .5);
}
.Container .Contenedor{
    max-width: 600px;
    text-align: center;

}
.Container .Contenedor h1{
    font-size: 15vw;
    color: rgba(0,0, 0, .5);
    line-height: 1em;
}
.Container .Contenedor h3{
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: rgb(90, 205, 199);
    background-color: #000000b7;
    font-weight: 300;
    padding: 10px 20px;
    display:inline-block ;
}
.Container p{
    color: rgb(4, 224, 188);
    font-size: 1.5em;

}
.Container .Contenedor a{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: none;
    color:rgba(0, 0, 0, 0.493) ;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 20px;

}








