body{
  margin: 0px;
  background-color:#DBF4FA;
}

body .navegacion{
  display: flex;
  background-color:#DDDDDD;
  margin-top: 0px;
}

.navegacion h3{
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 15px;
  color: #d23a91;
}

.navegacion input{
  width: 700px;
  height: 30px;
  margin-left: 40px;
  margin-top: 10px;
}

.icon-menu, .icon-user-tie{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  color:#d23a91;
}


/**diseño de las cajas de los productos**/

.productos{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 20px;
  width: 1000px;
  margin-left: 10px;
}

.barra{
  grid-column: 1;
  grid-row: 1/5;
}


.productos div{
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.prod{
  border: 1px black solid;
}
.prod img,h5,h2,input{
  margin: 10px;
}

.carrito{
  grid-column: 5;
  grid-row: 1/4;
}

.carrito h4, input{
  margin-left: 40px;
  margin-right: 40px;
}
