body{
  margin: 0px;
  background-color: #DAF3FA;
}

body .navegacion{
  display: flex;
  background-color:blue;
  margin-top: 0px;
}

.navegacion h3{
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 15px;
  color: white;
}

.navegacion input{
  width: 700px;
  height: 30px;
  margin-left: 40px;
  margin-top: 10px;
}

.icon-menu, .icon-user-tie{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  color: white;
}


/**diseño de las cajas de los productos**/

.productos{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 80px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 20px;
  width: 1000px;
  margin-left: 10px;
}

.barra{
  grid-column: 1;
  grid-row: 1/5;
}


.productos div{
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.carrito{
  grid-column: 5;
  grid-row: 1/4;
}

.carrito h4, input{
  margin-left: 20px;
}
